*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

background:#0a0a12;

display:flex;
justify-content:center;
align-items:center;

font-family:Arial;
color:white;

}

.overlay{

position:absolute;
width:100%;
height:100%;

background:linear-gradient(
#0a0a12,
#0a0a30
);

}

.container{

position:relative;
text-align:center;
z-index:2;

}

.logo{

font-size:80px;

color:#00eaff;

margin-bottom:20px;

text-shadow:
0 0 10px #00eaff,
0 0 30px #7a00ff;

}

.subtitle{

margin-bottom:40px;

font-size:22px;

opacity:0.8;

}

.buttons{

display:flex;
gap:30px;

justify-content:center;

}

.buttons a{

padding:15px 40px;

background:linear-gradient(
90deg,
#7a00ff,
#00eaff
);

color:white;
text-decoration:none;

border-radius:10px;

font-weight:bold;

box-shadow:0 0 20px #00eaff;

transition:0.3s;

}

.buttons a:hover{

transform:scale(1.1);

box-shadow:0 0 40px #00eaff;

}
